<html>
	<body>
		<% if(given.first_name==faculty[0].first_name && given.last_name==faculty[0].last_name && given.password==faculty[0].password) {%>
			Welcome! <%= (faculty0].first_name) ? faculty[0].first_name : '' %>
			<%= (faculty0].last_name) ? faculty[0].last_name : '' %>
			<br><br>
			<form method="POST" action="new_class">  
       			<input type="submit" value="New class"/>
			</form>
	
			<form method="POST" action="new_lecture">
                        <input type="submit" value="New lecture"/>
			</form>

			<form method="POST" action="upload_csv">
                        <input type="submit" value="Upload CSV"/>
			</form>

			<form method="POST" action="get_summary">
                        <input type="submit" value="Get summary"/> 
			</form>
		<%} else {%>
			<%= (fetched[0].first_name) ? fetched[0].first_name : '' %>
			<%= (fetched[0].last_name) ? fetched[0].last_name : '' %>
			<%= (fetched[0].password) ? fetched[0].password : '' %>
			<p>Invalid name or password! </p>
		<%} %>
	</body>
</html>
