<!DOCTYPE html>
<html>
    <body>
         <div class="frame">
        <div class="bh">Total lectures taken: </div><b><%= totalLectures[0].value %></b>

        <!-- Temp QDS. Fix this in front end so that user just has to click a student's name -->
        <form action="/dashboard/classes/class-details/student-details" method="post">
            <label for="student_id">Enter Student ID (for more details) : </label>
            <input type="number" name="student_id" id="student_id" />
            <br><br>
            <input type="submit" value="Submit">
        </form>
        <br><br>

        <form action="/dashboard/classes/class-details/lectures" method="post">
            <input type="submit" value="View Lectures">
       </form><br><br>

        <table class="student-list">
            <thead>
                <tr>
                    <th>STUDENT ID</th>
                    <th>ROLL NO</th>
                    <th>STUDENT NAME</th>
                    <th>LECTURES PRESENT</th>
                </tr>
            </thead>

            <tbody>
                <% for(var i = 0; i < students.length; ++i) {%>
                    <tr>
                        <td><%= students[i].student_id %></td>
                        <td><%= students[i].rollno %></td>
                        <td><%= students[i].name %></td>
                        <td><%= students[i].attendance %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        </div>
    </body>
    <style>
    html {
         min-height: 100%;
    }
    body{
         background-color :#ebf1fa;
    }

    .frame{
         position:absolute;
         top:50%;
         left:50%;
         transform: translate(-50%,-50%);
         text-align:center;
         height: 500px;
    }
    .form {
         font-family: arial, sans-serif;
         font-size:25px;
         /*border:2px solid black;
         border-radius:50px;*/
         padding:50px 15px;
         /*background:linear-gradient(#FFC9FD,white);*/
    }
    table {
         font-family: arial, sans-serif;
         border-collapse: collapse;
         font-size: 15px;
    }

    td, th {
         border: 1px solid #000;
         text-align: center;
         padding: 8px;
    }

    tr:nth-child(even) {
         background-color: #b6bbc2;
    }

    b{
         font-size:30px;
    }
    .bh{
          font-size: 25px;
    }
    </style>
</html>
